In [1]:
import requests
import json
import numpy as np
import pandas as pd

grid_data = pd.read_csv("unique_lat_lon.csv")

In [2]:
grid_data.head()

   lat_group  long_group                        lat+long_group  Unnamed: 3
0  47.516708    -122.253  47.51670803571437,-122.2529999999999         NaN
1  47.716540    -122.309  47.71654017857156,-122.3089999999999         NaN
2  47.738744    -122.225  47.73874375000014,-122.2249999999999         NaN
3  47.516708    -122.393            47.51670803571437,-122.393         NaN
4  47.616624    -122.057  47.61662410714297,-122.0569999999999         NaN

In [3]:
# pull functions
def findPlace(lat, lng, place_type, keyword):
  gkey = "AIzaSyCjKv0xK2wFVM8DFe9C7frIrtU6kh7kOwA"
  target_radius = 1609
  target_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" \
               "?location=%s,%s&radius=%s&types=%s&key=%s&keyword=%s" % (
                 lat, lng, target_radius,
                 place_type, gkey, keyword)
  places_data = requests.get(target_url).json()
  return places_data["results"]

def placeRating(placeid):
  gkey = "AIzaSyA_Clyz3478YAUnsESNHE5dyktvvMoa-vw"
  target_url = "https://maps.googleapis.com/maps/api/place/details/json" \
               "?placeid=%s&key=%s" % (
                 placeid, gkey)
  places_data = requests.get(target_url).json()
  return places_data["result"]

In [11]:
keyterm = "supermarket"
ratings = []
grocers = []
lats = []
lngs = []
for i, row in grid_data.iterrows():
    places = findPlace(grid_data.get_value(i, 'lat_group', takeable=False),
                       grid_data.get_value(i, 'long_group', takeable=False), keyterm, "")
    for place in places:
      try:  
        #rating = placeRating(place["place_id"])["rating"]
        #ratings.append(rating)
        grocer = place["name"]
        grocers.append(grocer)
        lat = place["geometry"]["location"]["lat"]
        lats.append(lat)
        lng = place["geometry"]["location"]["lng"]
        lngs.append(lng)
      except KeyError:
        pass
len(grocers)

66

In [12]:
# Schools including preschools

grocers_df = pd.DataFrame(
    {'grocers': grocer,
     'lat': lats,
     'long': lngs
    })
grocers_df = grocers_df.drop_duplicates(subset=('grocers','lat','long'), keep='first')
#schools_df = schools_df[schools_df['schools'].str.contains("school")]
#schools_df = schools_df[~schools_df['schools'].str.contains("Preschool")]
#schools_df = schools_df[~schools_df['schools'].str.contains("Playschool")]
#schools_df = schools_df[~schools_df['schools'].str.contains("Dayschool")]
grocers_df.head()

                         grocers        lat        long
0  Grocery Outlet Bargain Market  47.292525 -122.336179
1  Grocery Outlet Bargain Market  47.509054 -122.354768
2  Grocery Outlet Bargain Market  47.608956 -122.139482
3  Grocery Outlet Bargain Market  47.757226 -122.236147
4  Grocery Outlet Bargain Market  47.675394 -122.387351

In [13]:
len(grocers_df)

42

In [15]:
writer = pd.ExcelWriter('kc_grocers.xlsx')
grocers_df.to_excel(writer,'grocers')
print('done')

done

In [17]:
place

{'geometry': {'location': {'lat': 47.7572263, 'lng': -122.2361466},
  'viewport': {'northeast': {'lat': 47.7585752802915,
    'lng': -122.2347976197085},
   'southwest': {'lat': 47.7558773197085, 'lng': -122.2374955802915}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
 'id': '7785199af2cd9e710186a125ad9eaa2f48b76991',
 'name': 'Grocery Outlet Bargain Market',
 'opening_hours': {'open_now': False, 'weekday_text': []},
 'photos': [{'height': 2448,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113058729500251674498/photos">Yogesh Kakodkar</a>'],
   'photo_reference': 'CmRaAAAA2GxGo5Y-HffZZ-SfFBWldhx1ZDwbUT-5_jZ-_LIBNvx0duvH09ZYJ7ULWbj0ItI3k2fLdNDjPtiNTX31qIqA7qBVz6H3f58Vm-BF_py4R1S0ZXZT8BmFYhayH5Ysbq52EhBnMG1y_IKIY_iyjrhCNt-XGhR21m7s_ySluXTlAvL73Fpy93hk3w',
   'width': 3264}],
 'place_id': 'ChIJu20WACgOkFQREeTiSQmdc7E',
 'price_level': 1,
 'rating': 4.3,
 'reference': 'CmRSAAAAiMMv2eH57TIiIqMAJ2ZkGD4dC22nNWdoXe5s4aUGyVsiz-f5LNK2HyHe0rQCZpfUzIBmdVVIVPRsgSa4j09ZrmSjM6fN8FAAYdVMQwOgQ09rKENCpQlkrA_KJSJsJCSGEhDHmpWZnK9CZYrdIv50ltBQGhQ4lHizvfbgwg3qCt3dAacdBCyWMw',
 'scope': 'GOOGLE',
 'types': ['supermarket',
  'grocery_or_supermarket',
  'food',
  'store',
  'point_of_interest',
  'establishment'],
 'vicinity': '7800 Bothell Way Northeast Suite 140, Kenmore'}